<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/storm.png">
    <title>Not found</title>
</head>

<body>
    <h1>{{errorMessage}}</h1>
    <a href="/">
        <-- Go back to Home page</a>
</body>

</html>