<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/storm.png">
    <link rel="stylesheet" href="/css/styles.css" />
    <title>about</title>
</head>

<body>
    {{>header}}
    <p>this is a simple web application create dwith node.js as a part of my learning</p>
    <p>Use this site to get weather data</p>
    {{>footer}}
</body>

</html>